@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --jaune: #F9DE4E;
  --footer-color-logo: #434138;
  --footer-color-nav: #0A142F;
  --footer-size-footer-nav: 14px;
  --footer-weight-nav: 400;
  --footer-line-height-nav: 18.31px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.background-yellow { 
  background-color: #F9DE4E;
}

.footer-nav {
  font-family: 'Assistant', sans-serif;
  font-size: var(--footer-size-footer-nav);
  font-weight: var(--footer-weight-nav);
  line-height: var(--footer-line-height-nav);
  color: var(--footer-color-nav);
}

.footer-logo {
  font-family: "Roboto", sans-serif;
  font-size: 58px;
  font-weight: 900;
  line-height: 56.25px;
  color: #434138;
}

.titlePage {
  font-family: 'Inter', sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 72.61px;
  text-align: left;
  color: #000000;
  position: relative;
}

.title::before {
  content: "";
  display: block;
  background-color: #F9DE4E;
  width: 281px;
  height: 27px;
  position: absolute;
  top: 45px;
  left: 155px;
  z-index: -10;
}

.titleTable {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.44px;
  text-align: left;
}

.fontDataTable {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.44px;
  text-align: left;
}

.contact-card_info {
  font-family: 'Roboto', sans-serif;
}

.background-header {
  font-family: 'Inter', sans-serif;
  background-color: #9698D6;
}

.dashboard_drop-shadow {
  box-shadow: 0 0 37px -21px rgb(0, 0, 0, 0.25);
}